.about-container{
    margin: 4rem 6rem;
    text-align: start;
}
.about-container h1{
    padding-bottom: 1rem;
    color: #002855;
    font-family: 'Dancing Script', cursive;
    font-weight:lighter;
}

.about-container p{
    padding-bottom: 2rem;
}
@media screen and (max-width:850px) {
    .about-container{
        margin: 4rem 2rem;
        
    }
}